@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
}

.cakes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 25px;
}

.makeit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 80%;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15rem;
}

.itemcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15rem;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #000;
  border: none;
}